/* TODO use layouts for this */
.page {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: var(--step-3);
  font-weight: 600;
  margin-bottom: 2rem;
}

.cardList {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.noteCard {
}

.noteCard:hover {
}

.noteCard h1 {
}
