.page {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page a {
  color: var(--blue-800);
}

.page a:hover, .page a:focus {
  text-decoration: underline;
}

.title {
  font-size: var(--step-3);
  font-weight: 600;
}

.linkPost h2 {
  color: red;
}

.linkPost a {
  font-size: var(--step-0);
  line-height: 1.5;
  font-weight: 500;
  color: var(--blue-800);
}

.linkPost a:hover {
  text-decoration: underline;
}