.notesPage {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

/* TODO add proper css styles to website and not this garbage */
.notesPage h1 {
  font-size: var(--step-3);
  font-weight: 600;
  margin-bottom: 2rem;
}

.notesPage h2 {
  font-size: var(--step-1);
  font-weight: 600;
  margin-top: 2rem;
}

.notesPage ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.notesPage li {
  margin-top: 0.25rem;
}

.notesPage a {
  color: var(--blue-800);
}

.notesPage a:hover {
  text-decoration: underline;
}
