.callout {
  background-color: var(--blue-100);
  padding: 1rem;
  border-radius: 4px;
  color: var(--gray-700);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
