.warningBox {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left-width: 4px;
  border-color: rgba(252, 214, 100, 1);
  background-color: rgba(254, 241, 203, 1);
  padding: 0.5rem;
}
