.list {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.postLink {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--blue-800);
}

.postLink:hover {
  text-decoration: underline;
}

.groupPosts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.groupPost {
  display: flex;
  flex-direction: column;
}

.groupTitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 4rem;
}
