<ul>
  <% site.posts
    // Sort by date from newest to oldest
    .sort('date', -1)
    .forEach(function(post) { %>
    <li>
      <a href="<%- post.permalink %>">
        <%- post.title %>
      </a>
      <br>
      <time>
        <%- date(post.date, "YYYY-MM-DD") %>
      </time>
    </li>
  <% }); %>
</ul>
